*,
*::before,
*::after {
  box-sizing: border-box;
}
 
body {
  font-family: 'Quicksand', sans-serif;
 
  height: 100vh;
  margin: 0;
 
  display: flex;
  flex-direction: column;
  background-color: #FFE6E6;
}
 
header.navbar-container {
  width: 100%;
  max-width: 1200px;
  padding-block: 1rem;
  margin-inline: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}
header.navbar-container .judul {
  width: 100px;
  padding-top: 0%;
  color: #E1AFD1; 
}

header.navbar-container .judul h1{
  width: 0;
  padding-top: 0%;
  color: #E1AFD1; 
}

header.navbar-container .nav-list ul {
          padding-left: 0;
          display: flex;
          justify-content: center;
          gap: 2rem 1rem;
        }
        header.navbar-container .nav-list li {
          list-style-type: none;
        }
        header.navbar-container .nav-list li a {
          padding: 0.5rem 1.5rem;
          border-radius: 999px;
          text-decoration: none;
          font-size: 1.05rem;
          font-weight: 500;
          color: #7469B6;
          transition: all 0.2s ease-in-out;
        }
        header.navbar-container .nav-list li:hover a {
          background-color: #e294e2;
          color: white;
        }

        main {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2rem;
          }

        main .content {
          flex: 1;
          display: flex;
          align-items: center;
        }
        
        main .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
          
        main .content-description, .content-image {
            width: 100%; /* Biar dua elemen ini tetap berada dalam satu kolom di mobile */
            margin-bottom: 1rem;
            margin-top: -70px;
            margin-left: -150px;
          }
          
        main .about-article {
            grid-column: span 1; /* Artikel berada di bawah deskripsi dan gambar */
          }

        main .content .content-description {
          flex: 1 1;
        }
        main .content .content-description .title {
          margin-block: 1rem;
          font-size: 3.5rem;
          padding-left: 500px;
          padding-top: 50px;
          color: #AD88C6;
        }

        main .content .content-description p {
          font-size: 1.2rem;
          line-height: 1.7rem;
          padding-left: 500px;
        }
        main .content .content-description button {
          padding: 0.8rem 2.5rem;
          border: 3px solid transparent;
          border-radius: 999px;
          margin-block-start: 1rem;
          background-color: #2d3e50;
          font-family: 'Quicksand', sans-serif;
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 700;
          color: white;
          cursor: pointer;
          transition: all 0.15s ease-in;
        }
        main .content .content-description button:hover {
          border: 3px solid #2d3e50;
          background-color: transparent;
          color: #2d3e50;
        }
        main .content .content-image {
          flex: 1;
          display: flex;
        }
        main .content .content-image img {
          width: 300px;
          min-width: 250px;
          margin: auto;
        }

        main aside {
          position: sticky;
          top: 0; /* Elemen akan menempel ke atas halaman ketika discroll */
          inset-inline-end: 0;
          height: 100px; /* Sesuaikan dengan tinggi viewport */
        }

        main aside .social-media {
          height: 100%;
          display: flex;
        }
        
        .small-img {
          width: 80px; /* Atur lebar gambar */
          height: 80px; /* Mempertahankan rasio aspek */
          display: flex;
        }

        main aside .social-media ul {
          padding: 1.5rem 1rem;
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          margin: auto;
          background: linear-gradient(to right, #AD88C6, #E1AFD1); 
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;
          gap: 1.5rem;
        }
        main aside .social-media li {
          list-style-type: none;
        }

        main aside .social-media li a {
          text-decoration: none;
          font-size: 1.5rem;
          color: white;
          transition: all 0.1s ease-in-out;
        }
        main aside .social-media li a:hover {
          color: #89b0d9;
        }

        /* Medium devices (768px dan di bawahnya) */
@media screen and (max-width: 768px) {
          header.navbar-container {
          flex-direction: column;
          }

          header.navbar-container .nav-list ul {
                    flex-wrap: wrap;
                    column-gap: 0.5rem;
                  }
          main .content {
                    flex-direction: column;
                    gap: 2rem;
                  }
}

footer {
    padding: 20px;
    color: white;
    background: linear-gradient(to right, #AD88C6, #E1AFD1); 
    text-align: center;
    font-weight: bold;
  }

  .about-article {
    margin-top: 2rem;
    padding: 2rem;
    background-color: rgb(225, 175, 209, 0.3);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 30px;
  }
  
  .about-article h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    padding-left: 200px;
    color: #AD88C6;
  }
  
  .about-article p {
    font-size: 1.1rem;
    line-height: 1.6rem;
    text-align: justify;
    padding-left: 200px;
    padding-right: 100px;
  }